.coin-data {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	overflow-y: scroll;
	transition: visibility 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
		opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.coin-data-show {
	visibility: visible;
	opacity: 1;
}

.app {
	padding: 0 20px;
	margin: 0 auto;
	text-align: center;
}

.currency-table-wrapper {
	width: 100%;
	display: flex;
	overflow: hidden;
}

table {
	font-size: 14px;
	border-collapse: collapse;
	display: block;
	margin: 0 auto;
}

table thead {
	width: 100%;
}

table tbody {
	height: 800px;
}

td,
th {
	padding: 10px;
	text-align: center;
	margin: 0;
}

tbody tr:nth-child(2n) {
	background-color: #eee;
}

th {
	position: sticky;
	top: 0;
	background-color: #333;
	color: white;
}
