div {
	margin: 0 auto;
	text-align: center;
}

.table-wrapper {
	width: 100%;
	display: flex;
	overflow: hidden;
}

.table-wrapper th,
.table-wrapper td {
	padding: 20px;
}

table {
	font-size: 14px;
	border-collapse: collapse;
	display: block;
	margin: 0 auto;
	overflow-x: scroll;
}

td,
th {
	padding: 10px;
	text-align: center;
	margin: 0;
}

tbody tr:nth-child(2n) {
	background-color: #eee;
}

th {
	position: sticky;
	top: 0;
	background-color: #333;
	color: white;
}
